/* high-contrast.css */
body.high-contrast {
    background-color: #000;
    color: #fff;
}

body.high-contrast a {
    color: #0ff;
}

/*
body.high-contrast .btn,
body.high-contrast .btn-close{
    background-color: #fff;
    color: #000;
}
*/

body.high-contrast .navbar,
body.high-contrast .navbar-items, 
body.high-contrast .modal-content,
body.high-contrast .card,
body.high-contrast .card-header,
body.high-contrast .card-body,
body.high-contrast .card-footer,
body.high-contrast .accordion-body,
body.high-contrast .form-control {
    background-color: #000;
    color: #fff;
}

body.high-contrast .card,
body.high-contrast .card-header,
body.high-contrast .card-footer{
    border: 1px solid #0ff;
}

body.high-contrast .card-body p,
body.high-contrast .card-body .card-text 
body.high-contrast .text-body-secondary{
    color: #fff;
}

/* Asegúrate de que otros elementos también están cubiertos */
body.high-contrast .table {
    background-color: #000;
    color: #fff;
}

body.high-contrast .table th, 
body.high-contrast .table td {
    border-color: #fff;
}

body.high-contrast #navbar, 
body.high-contrast #navbar-elipse,
body.high-contrast .navbar-items{
    background-color: #333;
}

body.high-contrast #busqueda {
    background: linear-gradient(to bottom, rgba(11, 9, 8, 0.9) 0%, rgba(11, 9, 8, 0.9) 100%), url("/resources/images/busqueda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
 
body.high-contrast #adopcion {
    background: linear-gradient(to bottom, rgba(11, 9, 8, 0.9) 0%, rgba(11, 9, 8, 0.9) 100%), url("/resources/images/adopcion.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
